@import "modulos/google_font"
@import "variaveis"
@import "modulos/reset"
@import "modulos/grid"
@import "modulos/keyframes"
@import "modulos/animacoes"
@import "modulos/links"
@import "modulos/botoes"

// Importando fonte
+google-font("Arvo")


// Matriz de exemplos da framework
.placeholder-demo
    background-color: #dedede
    padding: 20px
    text-align: center

// Botões
.botao
    +botao($cor-fonte: $cor-8, $tamanho-fonte: $tamanho-1, $cor-borda: $cor-8)
.botao-com-fundo
    +botao($cor-fonte: $cor-1, $tamanho-fonte: $tamanho-1, $cor-fundo: $cor-9)

.colunagem-12
    width: 940px
    margin: 40px auto
