@import "variaveis"
@import "modulos/reset"
@import "modulos/grid"
@import "modulos/keyframes"
@import "modulos/animacoes"
@import "modulos/links"
@import "modulos/botoes"

body
    color: $cor-1
    width: 800px
    margin: auto
    opacity: 0.1
