doctype html
html(lang="pt_br")
    head
        title Lâmpada Mágica
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='css/base.css')
        
    body
        .botao Botão sem fundo
        
        .botao-com-fundo Botão com fundo!!
