doctype html
html(lang="pt_br")
head
    title= Lâmpada Mágica
    script(type='text/javascript').
        if (foo) {
            bar(1 + 5)
        }
body
    .botao Botão sem fundo
    
    .botao-com-fundo Botão com fundo!!
