doctype html
html(lang="pt_br")
    head
        title Lâmpada Mágica
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='css/base.css')
        
    body
        .pseudo.colunagem-12
            .botao Botão sem fundo
            
            .botao-com-fundo Botão com fundo!!
        
        .exemplo-grid
            .colunagem-12
                .colunagem-6
                    .placeholder-demo 1/2
                .colunagem-6
                    .placeholder-demo 1/2
            .colunagem-12
                .colunagem-4
                    .placeholder-demo 4/12
                .colunagem-4
                    .placeholder-demo 4/12
                .colunagem-4
                    .placeholder-demo 4/12
            .colunagem-12
                .colunagem-3
                    .placeholder-demo 3/12
                .colunagem-3
                    .placeholder-demo 3/12
                .colunagem-3
                    .placeholder-demo 3/12
                .colunagem-3
                    .placeholder-demo 3/12
            .colunagem-12
                .colunagem-2
                    .placeholder-demo 2/12
                .colunagem-2
                    .placeholder-demo 2/12
                .colunagem-2
                    .placeholder-demo 2/12
                .colunagem-2
                    .placeholder-demo 2/12
                .colunagem-2
                    .placeholder-demo 2/12
                .colunagem-2
                    .placeholder-demo 2/12
