=botao($tamanho-fonte, $cor-fonte, $com-fundo: false, $cor-fundo: transparent)
    @if com-fundo
        background: $cor-fundo
    @else
        background: none

    box-sizing: border-box
    border: 3px solid
    cursor: pointer
    color: $cor-fonte
    padding: 25px
    min-width: 200px
    display: inline-block
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 700
    font-size: $tamanho-fonte
    outline: none
    position: relative
    transition: all 0.3s
